Repository djmurphy32/peter-smith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --color --fix, stylelint --fix

adding directory for devcontainers (#176)
  .github/dependabot.yml
Due: none

sorting imports
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

uri encoding
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing image overlfow
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing image overlfow (#181)
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixing image stretching on chrome
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixing image stretching on chrome (#184)
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

updating copy
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

updating copy (#185)
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding copyright
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding copyright (#187)
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

replacing husky with git hooks
  .githooks/pre-commit
  package-lock.json
  package.json
Due: none

lint fix
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Remove husky (#190)
  .githooks/pre-commit
  package-lock.json
  package.json
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing tests
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/components/__tests__/PortfoliosWrapper.spec.ts
Due: prettier --write, eslint --color --fix

prepping for launch
  src/web-client/App.vue
  src/web-client/AppV1.vue
  src/web-client/AppV2.vue
  src/web-client/components/ContactDetails.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/Name.vue
  src/web-client/components/Portfolio.vue
  src/web-client/components/PortfolioContent.vue
  src/web-client/components/PortfolioHeading.vue
  src/web-client/components/PortfoliosWrapper.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/components/v2/SiteFooter.vue
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
  src/web-client/main.ts
  src/web-client/router/Page.ts
  src/web-client/router/index.ts
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/Information.vue
  src/web-client/router/pages/PrivacyPolicy.vue
  src/web-client/router/pages/v2/HomePage.vue
  src/web-client/styles/variables.scss
Due: prettier --write, eslint --color --fix, stylelint --fix

linting
  src/web-client/components/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

removing tests from pipeline
  .github/workflows/build-and-test.yml
Due: none

casing
  src/web-client/router/pages/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

adding prepare script
  package.json
Due: none

Show low res image while waiting for high res to load
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

linting
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing qs
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding title
  index.html
Due: none

setting meta tags
  index.html
  package-lock.json
  package.json
  src/web-client/App.vue
  src/web-client/assets/logo.png
  src/web-client/main.ts
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

using full domain
  src/web-client/App.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing tags
  src/web-client/App.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

setting in head
  index.html
  package-lock.json
  package.json
  src/web-client/App.vue
  src/web-client/main.ts
  src/web-client/public/logo.png
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Setting image
  index.html
Due: none

Adding fontaines images'
  src/web-client/assets/images/portfolio/FontainesDC/1. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/2. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/3. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/4. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/5. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/6. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/7. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/8. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/components/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

updating favicon
  index.html
  src/web-client/components/Portfolio.vue
  src/web-client/public/logo.jpg
  src/web-client/public/logo.png
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Prepping for launch (#186)
  .github/workflows/build-and-test.yml
  index.html
  package.json
  src/web-client/App.vue
  src/web-client/AppV1.vue
  src/web-client/AppV2.vue
  src/web-client/assets/favicon.png
  src/web-client/assets/images/portfolio/FontainesDC/1. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/2. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/3. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/4. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/5. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/6. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/7. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/8. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/components/ContactDetails.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/Name.vue
  src/web-client/components/Portfolio.vue
  src/web-client/components/PortfolioContent.vue
  src/web-client/components/PortfolioHeading.vue
  src/web-client/components/PortfoliosWrapper.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/components/__tests__/PortfoliosWrapper.spec.ts
  src/web-client/components/v2/SiteFooter.vue
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
  src/web-client/main.ts
  src/web-client/public/logo.jpg
  src/web-client/router/Page.ts
  src/web-client/router/index.ts
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/Information.vue
  src/web-client/router/pages/PrivacyPolicy.vue
  src/web-client/router/pages/v2/HomePage.vue
  src/web-client/styles/variables.scss
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating fontaines snaps
  src/web-client/assets/images/portfolio/FontainesDC/1. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/8. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/public/logo.jpg
Due: none

Updating fontaines snaps (#192)
  src/web-client/assets/images/portfolio/FontainesDC/1. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/assets/images/portfolio/FontainesDC/8. Peter Joseph Smith _ Photographer _ Fontaines DC _ NEw York .jpg
  src/web-client/public/logo.jpg
Due: none

moving components
  src/web-client/App.vue
  src/web-client/components/button/Button.vue
  src/web-client/components/button/index.ts
  src/web-client/components/name/Name.vue
  src/web-client/components/siteFooter/SiteFooter.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

deleting carousel next and previous
  src/web-client/components/carousel/CarouselNext.vue
  src/web-client/components/carousel/CarouselPrevious.vue
  src/web-client/components/carousel/index.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.scss)
  eslint --color --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.scss)
