Repository djmurphy32/peter-smith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --color --fix, stylelint --fix

Fixing support for node 22
  .devcontainer/Dockerfile
  tailwind.config.js
Due: prettier --write, eslint --color --fix

Fixing support for node 22 (#223)
  .devcontainer/Dockerfile
  tailwind.config.js
Due: prettier --write, eslint --color --fix

Fixing build
  package-lock.json
  package.json
  postcss.config.js
  vite.config.ts
Due: prettier --write, eslint --color --fix

fixed linting
  eslint.config.mjs
Due: none

Removing sass from repo
  package-lock.json
  package.json
  src/web-client/main.ts
  src/web-client/styles/global.css
  src/web-client/styles/index.css
  src/web-client/styles/index.scss
  src/web-client/styles/variables.css
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Removing sass from repo (#292)
  package-lock.json
  package.json
  src/web-client/main.ts
  src/web-client/styles/global.css
  src/web-client/styles/index.css
  src/web-client/styles/index.scss
  src/web-client/styles/variables.css
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Upgrading to tailwind v4
  package-lock.json
  package.json
  postcss.config.js
  src/web-client/App.vue
  src/web-client/components/button/index.ts
  src/web-client/styles/index.css
  src/web-client/styles/variables.css
  tailwind.config.js
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

adding padding
  src/web-client/App.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Upgrading to tailwind v4 (#293)
  package-lock.json
  package.json
  postcss.config.js
  src/web-client/App.vue
  src/web-client/components/button/index.ts
  src/web-client/styles/index.css
  src/web-client/styles/variables.css
  tailwind.config.js
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

npm i
  package-lock.json
Due: none

Updating landing pic
  src/web-client/assets/images/portfolio/June_2025/000.jpg
Due: none

Updating landing pic (#350)
  src/web-client/assets/images/portfolio/June_2025/000.jpg
Due: none

lint fix
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

update tailwind eslint
  .github/dependabot.yml
Due: none

update vitest and prettier
  package-lock.json
Due: none

update tailwind
  package-lock.json
Due: none

update vueuse
  package-lock.json
  package.json
Due: none

Update packages (#351)
  .github/dependabot.yml
  package-lock.json
  package.json
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

.
  src/web-client/components/carousel/Carousel.vue
  src/web-client/components/imageGrid/ImageGrid.vue
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

adding pointer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  README.md
  package-lock.json
  package.json
  src/web-client/components/carousel/Carousel.vue
  src/web-client/components/imageCarousel/ImageCarousel.vue
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

.
  src/web-client/components/carousel/Carousel.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

.
  package-lock.json
Due: none

.
  src/web-client/components/imageCarousel/ImageCarousel.vue
  src/web-client/components/imageGrid/ImageGrid.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

.
  .devcontainer/Dockerfile
  src/web-client/components/imageGrid/ImageGrid.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding pointer to clickable elements (#366)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  README.md
  package.json
  src/web-client/components/imageCarousel/ImageCarousel.vue
  src/web-client/components/imageGrid/ImageGrid.vue
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

installing netlify cli as dev dep
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  README.md
  package-lock.json
  package.json
Due: none

pinning netlify cli version
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

Pinning netlify-cli version to version that works (#373)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  README.md
  package-lock.json
  package.json
Due: none

.
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

. (#378)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

.
  .github/dependabot.yml
Due: none

. (#381)
  .github/dependabot.yml
Due: none

Fixing netlify dev issues
  .devcontainer/Dockerfile
  .github/dependabot.yml
  README.md
  deno.lock
  package-lock.json
  package.json
Due: none

Fixing netlify dev issues (#382)
  .devcontainer/Dockerfile
  .github/dependabot.yml
  README.md
  deno.lock
  package-lock.json
  package.json
Due: none

Install deno as dev container feature
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Install deno as dev container feature (#383)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

fixing footer links
  src/web-client/components/siteFooter/SiteFooter.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.scss)
  eslint --color --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.scss)
