Repository djmurphy32/peter-smith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --color --fix, stylelint --fix, stylelint --syntax=scss --fix

Fixed stylelint
  .stylelintrc
  package-lock.json
  package.json
Due: none

Updated portfolio components to vue3
  src/web-client/components/LazyImage.vue
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating more components
  src/web-client/components/ContactDetails.vue
  src/web-client/components/portfolio/PortfolioHeading.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Making script tags consistent
  src/web-client/App.vue
  src/web-client/components/ContactDetails.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/PortfolioHeading.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
  src/web-client/router/pages/PrivacyPolicy.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updated more components
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/NotFound.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updated last components to vue3
  src/web-client/components/ImageCarousel.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Removing compat
  package-lock.json
  package.json
  vite.config.js
Due: prettier --write, eslint --color --fix

Removed unused package
  package-lock.json
  package.json
Due: none

Fixed last of tests
  jest.config.js
  package-lock.json
  package.json
  src/web-client/components/__tests__/ImageCarousel.spec.ts
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
Due: prettier --write, eslint --color --fix

Removed carets
  package-lock.json
  package.json
Due: none

Update to vue3 (#103)
  .eslintrc.js
  .lintstagedrc
  .stylelintrc
  jest.config.js
  package-lock.json
  package.json
  src/web-client/App.vue
  src/web-client/components/ContactDetails.vue
  src/web-client/components/ImageCarousel.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/components/__tests__/ImageCarousel.spec.ts
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/ImagePortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/PortfolioHeading.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
  src/web-client/main.ts
  src/web-client/router/index.ts
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/NotFound.vue
  src/web-client/router/pages/PrivacyPolicy.vue
  src/web-client/typings/shim-vue.d.ts
  src/web-client/utils/tracking/index.ts
  tsconfig.json
  vite.config.js
Due: prettier --write, eslint --color --fix, stylelint --fix

Updated Kalvin Phillips club
  src/web-client/components/portfolio/HommePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updated Kalvin Phillips club (#104)
  src/web-client/components/portfolio/HommePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Removed tracking from lazyimage
  package-lock.json
  src/web-client/components/LazyImage.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Made husky executable
  .husky/pre-commit
Due: none

Added readme
  .gitignore
  README.md
Due: none

Updated readme
  README.md
Due: none

Fixed readm
  README.md
Due: none

Nothing change to trigger redeploy
  README.md
Due: none

Remove tracking and adding readme (#107)
  .gitignore
  .husky/pre-commit
  README.md
  package-lock.json
  src/web-client/components/LazyImage.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Styling tweaks
  src/web-client/components/portfolio/PortfolioHeading.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixing casing
  src/web-client/components/portfolio/PopStellaRose.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Reordering
  src/web-client/components/ImagePortfolio.vue
  src/web-client/components/PortfolioHeading.vue
  src/web-client/router/pages/HomePage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating email
  src/web-client/components/ContactDetails.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Replacing jest with vitest
  .eslintrc.js
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/web-client/__mocks__/fileMock.js
  src/web-client/components/ImageCarousel.vue
  src/web-client/components/__tests__/ImageCarousel.spec.ts
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/utils/tracking/__tests__/index.spec.ts
  src/web-client/utils/tracking/index.ts
  vitest.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Renamed vite config to be ts
  vite.config.ts
Due: prettier --write, eslint --color --fix

changing vitest env
  vitest.config.ts
Due: prettier --write, eslint --color --fix

Chaning env back
  vitest.config.ts
Due: prettier --write, eslint --color --fix

Removing test
  package.json
Due: none

Adding github workflow
  .github/workflows/build-and-test.yml
  package.json
Due: none

Updating version
  .github/workflows/build-and-test.yml
  .nvmrc
Due: none

Migrate from jest to vitest (#111)
  .eslintrc.js
  .github/workflows/build-and-test.yml
  .nvmrc
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/web-client/__mocks__/fileMock.js
  src/web-client/components/ImageCarousel.vue
  src/web-client/components/__tests__/ImageCarousel.spec.ts
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/utils/tracking/__tests__/index.spec.ts
  src/web-client/utils/tracking/index.ts
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding semis
  .eslintrc.js
  .prettierrc
  env/dev.env.js
  env/prod.env.js
  env/staging.env.js
  postcss.config.js
  postcss/__tests__/cssMqPackerSort.spec.js
  postcss/cssMqPackerSort.js
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
  src/web-client/main.ts
  src/web-client/router/index.ts
  src/web-client/typings/globImport.ts
  src/web-client/typings/image.d.ts
  src/web-client/typings/shim-vue.d.ts
  src/web-client/typings/window.d.ts
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --color --fix

Updated vue
  package-lock.json
  package.json
Due: none

Updated shim
  src/web-client/typings/shim-vue.d.ts
Due: prettier --write, eslint --color --fix

Tyepscript
  package-lock.json
  package.json
  tsconfig.json
Due: none

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.scss)
  eslint --color --fix: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  stylelint --fix: any of: *.vue
  stylelint --syntax=scss --fix: any of: *.scss
