Repository djmurphy32/peter-smith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --color --fix, stylelint --fix, stylelint --syntax=scss --fix

fixing types and adding logging
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/ImagePortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixed where logging
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Trying something
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Setting esbuild target
  vite.config.js
Due: prettier --write, eslint --color --fix

Changing logs
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updated build target
  vite.config.js
Due: prettier --write, eslint --color --fix

Trying diff config
  vite.config.js
Due: prettier --write, eslint --color --fix

esnext
  vite.config.js
Due: prettier --write, eslint --color --fix

additional logging
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

setting build target
  vite.config.js
Due: prettier --write, eslint --color --fix

remvoing logging
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Do not inline images
  vite.config.js
Due: prettier --write, eslint --color --fix

Trying something different
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Logging
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

trying something else
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

More logging
  src/web-client/components/portfolio/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Removed vite confg
  vite.config.js
Due: prettier --write, eslint --color --fix

Adding favicon
  package-lock.json
  package.json
  vite.config.js
Due: prettier --write, eslint --color --fix

Setting up css mq sort
  postcss.config.js
  postcss/__tests__/cssMqPackerSort.spec.js
  postcss/cssMqPackerSort.js
  vite.config.js
Due: prettier --write, eslint --color --fix

Comitting while in working state
  index.html
  package.json
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/ImagePortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Importing correctly
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/ImagePortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/PortfolioHeading.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
  src/web-client/typings/globImport.ts
  src/web-client/typings/window.d.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixed line endings, added little hills
  src/web-client/components/Colophon.vue
  src/web-client/components/ContactDetails.vue
  src/web-client/components/ImageCarousel.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/router/pages/HomePage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Cleanup
  jest.setup.js
  src/web-client/router/pages/Portfolio.vue
  src/web-client/router/pages/tests/Portfolio.spec.ts
  webpack.config.common.js
  webpack.config.dev.js
  webpack.config.js
  webpack.config.prod.js
Due: prettier --write, eslint --color --fix, stylelint --fix

Removed webpack config and deps
  package-lock.json
  package.json
Due: none

Brought back babel-core
  package-lock.json
  package.json
Due: none

Updated node and remved babel-core
  .nvmrc
  package-lock.json
  package.json
Due: none

Removed perr deps
  package-lock.json
  package.json
Due: none

Added esbuild as dep
  package-lock.json
  package.json
Due: none

Updating packages
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

Fixng files
  src/web-client/components/CookieConsent.vue
  src/web-client/components/__tests__/CookieConsent.spec.ts
  src/web-client/components/__tests__/ImageCarousel.spec.ts
  src/web-client/utils/cookieConsent/__tests__/index.spec.ts
  src/web-client/utils/cookieConsent/index.ts
  tsconfig.json
Due: prettier --write, eslint --color --fix, stylelint --fix

Added autoprefixer
  package-lock.json
  package.json
Due: none

Changing tsconfig target
  tsconfig.json
Due: none

Trying to fix netlify build
  package-lock.json
  package.json
  tsconfig.json
Due: none

Update node to v16 (#102)
  .husky/pre-commit
  .nvmrc
  package-lock.json
  package.json
  src/web-client/components/CookieConsent.vue
  src/web-client/components/__tests__/CookieConsent.spec.ts
  src/web-client/components/__tests__/ImageCarousel.spec.ts
  src/web-client/utils/cookieConsent/__tests__/index.spec.ts
  src/web-client/utils/cookieConsent/index.ts
  tsconfig.json
Due: prettier --write, eslint --color --fix, stylelint --fix

Removed git add from lint staged
  .lintstagedrc
Due: none

Fixed linting issues
  .eslintrc.js
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
  src/web-client/main.ts
  src/web-client/router/index.ts
  src/web-client/utils/tracking/index.ts
Due: prettier --write, eslint --color --fix

Updated to vue3 with warnings
  .eslintrc.js
  package-lock.json
  package.json
  src/web-client/App.vue
  src/web-client/components/ContactDetails.vue
  src/web-client/components/ImageCarousel.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/ImagePortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/PortfolioHeading.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
  src/web-client/main.ts
  src/web-client/router/index.ts
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/NotFound.vue
  src/web-client/router/pages/PrivacyPolicy.vue
  src/web-client/typings/shim-vue.d.ts
  vite.config.js
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixed components to be vue3
  src/web-client/App.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
  tsconfig.json
Due: prettier --write, eslint --color --fix, stylelint --fix

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.scss)
  eslint --color --fix: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  stylelint --fix: any of: *.vue
  stylelint --syntax=scss --fix: any of: *.scss
