Repository djmurphy32/peter-smith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --color --fix, stylelint --fix, stylelint --syntax=scss --fix

typechecking
  .husky/pre-commit
Due: none

Updating eslint
  package-lock.json
  package.json
  src/web-client/main.ts
  src/web-client/typings/shim-vue.d.ts
Due: prettier --write, eslint --color --fix

Updated vite
  package-lock.json
  package.json
  src/web-client/components/portfolio/AH57KalvinPhillips.vue
  src/web-client/components/portfolio/AH58CaliforniaBoys.vue
  src/web-client/components/portfolio/AH58TheCollections.vue
  src/web-client/components/portfolio/AH59TheCollections.vue
  src/web-client/components/portfolio/AH60AnCatDubh.vue
  src/web-client/components/portfolio/AH60TheCollections.vue
  src/web-client/components/portfolio/BrightAndYoung.vue
  src/web-client/components/portfolio/IDFall22.vue
  src/web-client/components/portfolio/IDSpring23.vue
  src/web-client/components/portfolio/LittleHills.vue
  src/web-client/components/portfolio/PopMowalola.vue
  src/web-client/components/portfolio/PopStellaRose.vue
  src/web-client/components/portfolio/ReplicaSpring22.vue
  src/web-client/router/pages/HomePage.vue
  tsconfig.json
Due: prettier --write, eslint --color --fix, stylelint --fix

updated stylelint
  package-lock.json
  package.json
Due: none

Updated more packages
  package-lock.json
  package.json
Due: none

Fixing issues with vite upgrade
  .eslintrc.js
  .eslintrc.json
  .github/workflows/build-and-test.yml
  .lintstagedrc
  .stylelintrc
  index.html
  package.json
  postcss.config.js
  postcss/cssMqPackerSort.js
  src/web-client/App.vue
  src/web-client/assets/images/portfolio/Pop_Mowalola/4. POP - Mowalola.mp4
  src/web-client/components/ContactDetails.vue
  src/web-client/components/ImagePortfolio.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/PortfolioHeading.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/styles/variables/_typography.scss
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix, stylelint --syntax=scss --fix

Fixing test
  postcss/__tests__/cssMqPackerSort.spec.js
Due: prettier --write, eslint --color --fix

Embedding vimeo links
  index.html
  src/web-client/components/ImagePortfolio.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/components/portfolio/IDFall22.vue
  src/web-client/components/portfolio/PopMowalola.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating contact deets
  src/web-client/components/ContactDetails.vue
  src/web-client/components/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Scaling video with screen
  src/web-client/components/ImagePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Removing enquiries title
  src/web-client/components/ContactDetails.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Embedding vimeo links (#116)
  index.html
  src/web-client/components/ContactDetails.vue
  src/web-client/components/ImagePortfolio.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/components/portfolio/IDFall22.vue
  src/web-client/components/portfolio/PopMowalola.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Removed unneeded refs from component vars
  src/web-client/components/SiteFooter.vue
  src/web-client/components/portfolio/AH57KalvinPhillips.vue
  src/web-client/components/portfolio/AH58CaliforniaBoys.vue
  src/web-client/components/portfolio/AH58TheCollections.vue
  src/web-client/components/portfolio/AH59TheCollections.vue
  src/web-client/components/portfolio/AH60AnCatDubh.vue
  src/web-client/components/portfolio/AH60TheCollections.vue
  src/web-client/components/portfolio/BrightAndYoung.vue
  src/web-client/components/portfolio/IDFall22.vue
  src/web-client/components/portfolio/IDSpring23.vue
  src/web-client/components/portfolio/LittleHills.vue
  src/web-client/components/portfolio/PopMowalola.vue
  src/web-client/components/portfolio/PopStellaRose.vue
  src/web-client/components/portfolio/ReplicaSpring22.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Removed unneeded refs from component vars (#117)
  src/web-client/components/SiteFooter.vue
  src/web-client/components/portfolio/AH57KalvinPhillips.vue
  src/web-client/components/portfolio/AH58CaliforniaBoys.vue
  src/web-client/components/portfolio/AH58TheCollections.vue
  src/web-client/components/portfolio/AH59TheCollections.vue
  src/web-client/components/portfolio/AH60AnCatDubh.vue
  src/web-client/components/portfolio/AH60TheCollections.vue
  src/web-client/components/portfolio/BrightAndYoung.vue
  src/web-client/components/portfolio/IDFall22.vue
  src/web-client/components/portfolio/IDSpring23.vue
  src/web-client/components/portfolio/LittleHills.vue
  src/web-client/components/portfolio/PopMowalola.vue
  src/web-client/components/portfolio/PopStellaRose.vue
  src/web-client/components/portfolio/ReplicaSpring22.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Moved to a single portfolio component
  src/web-client/assets/logo.png
  src/web-client/components/SinglePortfolio.vue
  src/web-client/router/pages/HomePage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixed file ref
  src/web-client/router/pages/HomePage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Deleted logo.png
  src/web-client/assets/logo.png
Due: none

Fixed asset reference
  src/web-client/components/SinglePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Added missing portfolio
  src/web-client/components/SinglePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixed path
  src/web-client/components/SinglePortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Deleting old portfolio components
  src/web-client/components/portfolio/AH57KalvinPhillips.vue
  src/web-client/components/portfolio/AH58CaliforniaBoys.vue
  src/web-client/components/portfolio/AH58TheCollections.vue
  src/web-client/components/portfolio/AH59TheCollections.vue
  src/web-client/components/portfolio/AH60AnCatDubh.vue
  src/web-client/components/portfolio/AH60TheCollections.vue
  src/web-client/components/portfolio/BrightAndYoung.vue
  src/web-client/components/portfolio/IDFall22.vue
  src/web-client/components/portfolio/IDSpring23.vue
  src/web-client/components/portfolio/LittleHills.vue
  src/web-client/components/portfolio/PopMowalola.vue
  src/web-client/components/portfolio/PopStellaRose.vue
  src/web-client/components/portfolio/ReplicaSpring22.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Moved all portfolio setup into a single component (#118)
  src/web-client/components/SinglePortfolio.vue
  src/web-client/components/portfolio/AH57KalvinPhillips.vue
  src/web-client/components/portfolio/AH58CaliforniaBoys.vue
  src/web-client/components/portfolio/AH58TheCollections.vue
  src/web-client/components/portfolio/AH59TheCollections.vue
  src/web-client/components/portfolio/AH60AnCatDubh.vue
  src/web-client/components/portfolio/AH60TheCollections.vue
  src/web-client/components/portfolio/BrightAndYoung.vue
  src/web-client/components/portfolio/IDFall22.vue
  src/web-client/components/portfolio/IDSpring23.vue
  src/web-client/components/portfolio/LittleHills.vue
  src/web-client/components/portfolio/PopMowalola.vue
  src/web-client/components/portfolio/PopStellaRose.vue
  src/web-client/components/portfolio/ReplicaSpring22.vue
  src/web-client/router/pages/HomePage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Renamed components
  src/web-client/components/PortfolioContent.vue
  src/web-client/components/PortfoliosWrapper.vue
  src/web-client/router/pages/HomePage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

added test for portfolios
  .vscode/settings.json
  src/web-client/components/PortfolioContent.vue
  src/web-client/components/PortfolioHeading.vue
  src/web-client/components/__tests__/PortfoliosWrapper.spec.ts
  vitest.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixed linting issues
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
Due: prettier --write, eslint --color --fix

Fixed class
  src/web-client/components/PortfolioContent.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Refactor portfolio and add tests (#119)
  .vscode/settings.json
  src/web-client/components/PortfolioContent.vue
  src/web-client/components/PortfolioHeading.vue
  src/web-client/components/PortfoliosWrapper.vue
  src/web-client/components/__tests__/PortfoliosWrapper.spec.ts
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
  src/web-client/router/pages/HomePage.vue
  vitest.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Ignore DS_Store
  .gitignore
Due: none

REfactoring observer
  src/web-client/components/LazyImage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Delay loading images until near viewport
  src/web-client/components/LazyImage.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Increasing root margin
  src/web-client/components/LazyImage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Delay loading photos until near viewport (#120)
  .gitignore
  src/web-client/components/LazyImage.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Updated lazy iomage
  .lfsconfig
  .netlify/state.json
  netlify.toml
  src/web-client/components/LazyImage.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

updated readme
  README.md
Due: none

Updating readme
  README.md
  netlify.toml
  package.json
Due: none

Removing geolocation
  .netlify/state.json
Due: none

Fixed dev run
  netlify.toml
  package.json
Due: none

Fixed test
  src/web-client/components/__tests__/LazyImage.spec.ts
Due: prettier --write, eslint --color --fix

Setting up git lfs
  .gitattributes
Due: none

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.scss)
  eslint --color --fix: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  stylelint --fix: any of: *.vue
  stylelint --syntax=scss --fix: any of: *.scss
