Repository djmurphy32/peter-smith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --color --fix, stylelint --fix, stylelint --syntax=scss --fix

More linting fixes (#85)
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc
  package-lock.json
  package.json
  src/web-client/components/ImageCarousel.vue
  src/web-client/components/LazyImage.vue
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Added colophon and bits
  src/web-client/components/Colophon.vue
  src/web-client/components/ContactDetails.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/components/__tests__/SiteHeader.spec.ts
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/PortfolioHeading.vue
  src/web-client/router/pages/HomePage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Added placeholder images for portfolio
  jest.setup.js
  src/web-client/assets/images/portfolio/brightAndYoung/004.jpg
  src/web-client/assets/images/portfolio/brightAndYoung/005.jpg
  src/web-client/assets/images/portfolio/brightAndYoung/006.jpg
  src/web-client/assets/images/portfolio/littleHills/001.jpg
  src/web-client/assets/images/portfolio/littleHills/002.jpg
  src/web-client/assets/images/portfolio/littleHills/003.jpg
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/tests/HomePage.spec.ts
  src/web-client/utils/webpackContexts/brightAndYoung.ts
  src/web-client/utils/webpackContexts/littleHills.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Ignore debug.log
  .gitignore
Due: none

linting fixes
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/PortfolioHeading.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Added little hills photos, removed bright and young from homepage
  src/web-client/assets/images/portfolio/littleHills/001.jpg
  src/web-client/assets/images/portfolio/littleHills/002.jpg
  src/web-client/assets/images/portfolio/littleHills/003.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9439.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9440.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9441.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9442.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9443.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9444.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9447.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9448.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9449.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9451.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9453.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9454.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9455.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9459.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9460.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9462.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9463.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9464.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9465.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9466.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9468.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9469.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9473.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9474.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9475.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9476.jpg
  src/web-client/router/pages/HomePage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Setting max widh on images
  src/web-client/components/LazyImage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixing typo
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Decreasng font size
  src/web-client/styles/variables/_typography.scss
Due: prettier --write, stylelint --syntax=scss --fix

Updated photos to cropper versions
  src/web-client/assets/images/portfolio/littleHills/3K1A9439.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9440.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9441.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9442.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9443.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9444.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9447.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9448.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9449.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9451.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9453.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9454.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9455.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9459.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9460.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9462.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9463.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9464.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9465.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9466.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9468.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9469.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9473.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9474.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9475.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9476.jpg
Due: none

Moving around contact deets
  src/web-client/components/ContactDetails.vue
  src/web-client/components/SiteFooter.vue
  src/web-client/components/SiteHeader.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding homme and replica portfolios to homepage
  .vscode/settings.json
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+1.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+10.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+2.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+3.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+4.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+5.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+6.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+7.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+8.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+9.jpg
  src/web-client/assets/images/portfolio/homme/arena pdf.pdf
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA1.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA2.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA3.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA4.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA5.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA6.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA7.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA8.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA9.jpg
  src/web-client/assets/images/portfolio/replica/Replica pdf.pdf
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
  src/web-client/router/pages/HomePage.vue
  src/web-client/utils/webpackContexts/homme.ts
  src/web-client/utils/webpackContexts/replica.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Added portfolio component
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/Portfolio.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

setting style lang
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixed pic names
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+01.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+02.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+03.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+04.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+05.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+06.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+07.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+08.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+09.jpg
Due: none

Adding homme and replica portfolios to homepage (#97)
  .vscode/settings.json
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+01.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+02.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+03.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+04.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+05.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+06.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+07.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+08.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+09.jpg
  src/web-client/assets/images/portfolio/homme/PeterSmith_KalvinPhillips_Arenahomme+10.jpg
  src/web-client/assets/images/portfolio/homme/arena pdf.pdf
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA1.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA2.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA3.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA4.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA5.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA6.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA7.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA8.jpg
  src/web-client/assets/images/portfolio/replica/PeterSmith_KalvinPhillips_REPLICA9.jpg
  src/web-client/assets/images/portfolio/replica/Replica pdf.pdf
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/Portfolio.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
  src/web-client/router/pages/HomePage.vue
  src/web-client/utils/webpackContexts/homme.ts
  src/web-client/utils/webpackContexts/replica.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

Doubled img res
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixing width
  src/web-client/components/LazyImage.vue
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Changed copy
  src/web-client/components/portfolio/ReplicaPortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Increase lazy img max res (#98)
  src/web-client/components/LazyImage.vue
  src/web-client/components/portfolio/Portfolio.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updated node version
  .nvmrc
  .prettierignore
  package-lock.json
Due: none

Npm audit fix
  package-lock.json
Due: none

Updated typescript
  package-lock.json
  package.json
Due: none

Upated eslint
  package-lock.json
  package.json
Due: none

Updated packages
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --color --fix

Chaning jest test env
  jest.config.js
Due: prettier --write, eslint --color --fix

Removed carets and reinstalled
  package-lock.json
  package.json
Due: none

specifying node ver
  .nvmrc
  .prettierignore
Due: none

Fixing name
  package.json
Due: none

Downgrade vue
  package-lock.json
  package.json
Due: none

Downgrading packages
  package-lock.json
  package.json
Due: none

Updated dep
  package-lock.json
  package.json
Due: none

Attempt to fix compile
  package-lock.json
  package.json
  webpack.config.common.js
Due: prettier --write, eslint --color --fix

Reinstall
  package-lock.json
Due: none

Package upgrades (#100)
  .eslintrc.js
  .nvmrc
  .prettierignore
  jest.config.js
  package-lock.json
  package.json
  webpack.config.common.js
Due: prettier --write, eslint --color --fix

Vite build
  package.json
Due: none

Fixed linting issue
  .eslintrc.js
  src/web-client/components/LazyImage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixes issues with image import
  .eslintrc.js
  package.json
  src/web-client/components/portfolio/BrightAndYoungPortfolio.vue
  src/web-client/components/portfolio/HommePortfolio.vue
  src/web-client/components/portfolio/ImagePortfolio.vue
  src/web-client/components/portfolio/LittleHillsPortfolio.vue
  src/web-client/components/portfolio/ReplicaPortfolio.vue
  src/web-client/utils/__tests__/importAll.spec.ts
  tslint.json
Due: prettier --write, eslint --color --fix, stylelint --fix

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.scss)
  eslint --color --fix: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  stylelint --fix: any of: *.vue
  stylelint --syntax=scss --fix: any of: *.scss
