Repository djmurphy32/peter-smith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --color --fix, stylelint --fix

Updating pnpm version
  package.json
  pnpm-workspace.yaml
Due: none

fixing dockerfile
  .devcontainer/Dockerfile
Due: none

Updating pnpm version (#587)
  .devcontainer/Dockerfile
  package.json
  pnpm-workspace.yaml
Due: none

copilot rec #1
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .huskyrc
  deno.lock
  src/web-client/components/imageGrid/ImageGrid.vue
  src/web-client/router/pages/Information.vue
  tsconfig.json
Due: prettier --write, eslint --color --fix, stylelint --fix

removing shim
  deno.lock
  src/web-client/typings/shim-vue.d.ts
Due: prettier --write, eslint --color --fix

copilot recs
  components.json
  src/web-client/components/imageGrid/ImageGrid.vue
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

switching to vue-tsc
  package.json
  pnpm-lock.yaml
  src/web-client/components/carousel/CarouselContent.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

more tweaks
  src/web-client/components/imageGrid/ImageGrid.vue
  src/web-client/components/portfolio/Portfolio.vue
  src/web-client/router/pages/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing typings
  src/web-client/components/imageGrid/ImageGrid.vue
  src/web-client/typings/vite-end.d.ts
  tsconfig.json
Due: prettier --write, eslint --color --fix, stylelint --fix

.
  deno.lock
Due: none

.
  src/web-client/components/portfolio/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Copilot recs (#597)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .huskyrc
  components.json
  deno.lock
  package.json
  pnpm-lock.yaml
  src/web-client/components/carousel/CarouselContent.vue
  src/web-client/components/imageGrid/ImageGrid.vue
  src/web-client/components/portfolio/Portfolio.vue
  src/web-client/router/pages/Information.vue
  src/web-client/typings/shim-vue.d.ts
  src/web-client/typings/vite-end.d.ts
  tsconfig.json
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating pnpm and packages to latest
  deno.lock
  package.json
  pnpm-lock.yaml
Due: none

updating deps
  package.json
  pnpm-lock.yaml
Due: none

updating deps (#615)
  package.json
  pnpm-lock.yaml
Due: none

Updating pnpm and deps
  deno.lock
  package.json
  pnpm-lock.yaml
Due: none

Updating pnpm and deps (#616)
  deno.lock
  package.json
  pnpm-lock.yaml
Due: none

Updating packages to latest
  deno.lock
  package.json
  pnpm-lock.yaml
Due: none

Updating packages to latest (#618)
  deno.lock
  package.json
  pnpm-lock.yaml
Due: none

dep updates
  package.json
  pnpm-lock.yaml
Due: none

dep updates (#619)
  package.json
  pnpm-lock.yaml
Due: none

updates
  package.json
  pnpm-lock.yaml
Due: none

updates (#621)
  package.json
  pnpm-lock.yaml
Due: none

updating dependencies
  package.json
  pnpm-lock.yaml
Due: none

updating dependencies (#627)
  package.json
  pnpm-lock.yaml
Due: none

pnpm setup
  .github/workflows/build-and-test.yml
Due: none

fixed ver
  .github/workflows/build-and-test.yml
Due: none

Pnpm setup action (#649)
  .github/workflows/build-and-test.yml
Due: none

Updating deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Updating deps (#658)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Upgrading to pnpm 12
  .devcontainer/devcontainer.json
  package.json
  pnpm-lock.yaml
Due: none

Upgrading to pnpm 12 (#670)
  .devcontainer/devcontainer.json
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.scss)
  eslint --color --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.vue)) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.scss)
