Repository djmurphy32/peter-smith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --color --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --color --fix"],
  "{*.json,.!(browserslist|npm)*rc}": ["prettier --parser json --write"],
  "*.ts": ["prettier --write", "eslint --color --fix"],
  "*.vue": ["prettier --write", "eslint --color --fix", "stylelint --fix", "eslint --color --fix"],
  "*.scss": ["prettier --write", "stylelint --fix"]
}

Changing git lfs
  .gitattributes
Due: none

Temporarily disabling errored portfolio
  src/web-client/components/PortfoliosWrapper.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Deleting directory completely
  src/web-client/assets/images/portfolio/Pop_StellaRose/Peter_joseph_smith_peterjosephsmith_website_website6491.jpg
  src/web-client/assets/images/portfolio/Pop_StellaRose/Peter_joseph_smith_peterjosephsmith_website_website6492.jpg
  src/web-client/assets/images/portfolio/Pop_StellaRose/Peter_joseph_smith_peterjosephsmith_website_website6493.jpg
  src/web-client/assets/images/portfolio/Pop_StellaRose/Peter_joseph_smith_peterjosephsmith_website_website6494.jpg
  src/web-client/assets/images/portfolio/Pop_StellaRose/Peter_joseph_smith_peterjosephsmith_website_website6495.jpg
  src/web-client/assets/images/portfolio/Pop_StellaRose/Peter_joseph_smith_peterjosephsmith_website_website6496.jpg
  src/web-client/assets/images/portfolio/Pop_StellaRose/Peter_joseph_smith_peterjosephsmith_website_website6497.jpg
  src/web-client/assets/images/portfolio/Pop_StellaRose/Peter_joseph_smith_peterjosephsmith_website_website6498.jpg
  src/web-client/assets/images/portfolio/Pop_StellaRose/Peter_joseph_smith_peterjosephsmith_website_website6499.jpg
Due: none

Deleting kalvin too
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+01.jpg
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+02.jpg
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+03.jpg
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+04.jpg
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+05.jpg
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+06.jpg
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+07.jpg
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+08.jpg
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+09.jpg
  src/web-client/assets/images/portfolio/AH57_KalvinPhillips/PeterSmith_KalvinPhillips_Arenahomme+10.jpg
  src/web-client/components/PortfoliosWrapper.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Deleting broken img
  src/web-client/assets/images/portfolio/Replica_Spring22/PeterSmith_KalvinPhillips_REPLICA1.jpg
Due: none

Yet another'
  src/web-client/assets/images/portfolio/Replica_Spring22/PeterSmith_KalvinPhillips_REPLICA2.jpg
  src/web-client/assets/images/portfolio/Replica_Spring22/PeterSmith_KalvinPhillips_REPLICA3.jpg
  src/web-client/assets/images/portfolio/Replica_Spring22/PeterSmith_KalvinPhillips_REPLICA4.jpg
  src/web-client/assets/images/portfolio/Replica_Spring22/PeterSmith_KalvinPhillips_REPLICA5.jpg
  src/web-client/assets/images/portfolio/Replica_Spring22/PeterSmith_KalvinPhillips_REPLICA6.jpg
  src/web-client/assets/images/portfolio/Replica_Spring22/PeterSmith_KalvinPhillips_REPLICA7.jpg
  src/web-client/assets/images/portfolio/Replica_Spring22/PeterSmith_KalvinPhillips_REPLICA8.jpg
  src/web-client/assets/images/portfolio/Replica_Spring22/PeterSmith_KalvinPhillips_REPLICA9.jpg
  src/web-client/assets/images/portfolio/Replica_Spring22/Replica pdf.pdf
  src/web-client/components/PortfoliosWrapper.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

deleting little hills
  src/web-client/assets/images/portfolio/littleHills/3K1A9439.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9440.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9441.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9442.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9443.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9444.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9447.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9448.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9449.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9451.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9453.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9454.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9455.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9459.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9460.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9462.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9463.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9464.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9465.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9466.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9468.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9469.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9473.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9474.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9475.jpg
  src/web-client/assets/images/portfolio/littleHills/3K1A9476.jpg
  src/web-client/components/PortfoliosWrapper.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding root margin
  src/web-client/components/LazyImage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding root margin (#122)
  src/web-client/components/LazyImage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

removing email
  src/web-client/components/ContactDetails.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

removing email (#123)
  src/web-client/components/ContactDetails.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

adding dependabot
  .github/dependabot.yml
Due: none

adding dependabot (#124)
  .github/dependabot.yml
Due: none

fixing dependabot config
  .github/dependabot.yml
Due: none

fixing dependabot config (#125)
  .github/dependabot.yml
Due: none

updating eslint
  .eslintignore
  .eslintrc.json
  .github/dependabot.yml
  .prettierrc
  env/dev.env.js
  env/prod.env.js
  env/staging.env.js
  eslint.config.mjs
  package-lock.json
  package.json
  postcss.config.js
  postcss/__tests__/cssMqPackerSort.spec.js
  src/web-client/App.vue
  src/web-client/components/ContactDetails.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/PortfolioContent.vue
  src/web-client/components/PortfolioHeading.vue
  src/web-client/components/PortfoliosWrapper.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/components/__tests__/PortfoliosWrapper.spec.ts
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
  src/web-client/main.ts
  src/web-client/router/Page.ts
  src/web-client/router/index.ts
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/PrivacyPolicy.vue
  src/web-client/typings/image.d.ts
  src/web-client/typings/shim-vue.d.ts
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

updating eslint (#142)
  .eslintignore
  .eslintrc.json
  .github/dependabot.yml
  .prettierrc
  env/dev.env.js
  env/prod.env.js
  env/staging.env.js
  eslint.config.mjs
  package-lock.json
  package.json
  postcss.config.js
  postcss/__tests__/cssMqPackerSort.spec.js
  src/web-client/App.vue
  src/web-client/components/ContactDetails.vue
  src/web-client/components/LazyImage.vue
  src/web-client/components/PortfolioContent.vue
  src/web-client/components/PortfolioHeading.vue
  src/web-client/components/PortfoliosWrapper.vue
  src/web-client/components/SiteHeader.vue
  src/web-client/components/__tests__/LazyImage.spec.ts
  src/web-client/components/__tests__/PortfoliosWrapper.spec.ts
  src/web-client/directives/__tests__/externalClick.spec.ts
  src/web-client/directives/externalClick.ts
  src/web-client/main.ts
  src/web-client/router/Page.ts
  src/web-client/router/index.ts
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/PrivacyPolicy.vue
  src/web-client/typings/image.d.ts
  src/web-client/typings/shim-vue.d.ts
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

setting up tailwind and changing to css variables
  .github/dependabot.yml
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  package-lock.json
  package.json
  postcss.config.js
  src/web-client/App.vue
  src/web-client/main.ts
  src/web-client/router/pages/HomePage.vue
  src/web-client/styles/functions/_layout.scss
  src/web-client/styles/global.scss
  src/web-client/styles/index.scss
  src/web-client/styles/variables.scss
  src/web-client/styles/variables/_all.scss
  src/web-client/styles/variables/_colors.scss
  src/web-client/styles/variables/_layout.scss
  src/web-client/styles/variables/_typography.scss
  tailwind.config.js
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

cleanup
  package-lock.json
  package.json
  postcss.config.js
  postcss/__tests__/cssMqPackerSort.spec.js
  postcss/cssMqPackerSort.js
Due: prettier --write, eslint --color --fix

updates
  package-lock.json
  package.json
Due: none

replace favicon plugin
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --color --fix

fixing package-lock
  package-lock.json
Due: none

more package-lock
  package-lock.json
Due: none

Setting up for v2 version of site (#145)
  .github/dependabot.yml
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  package-lock.json
  package.json
  postcss.config.js
  postcss/__tests__/cssMqPackerSort.spec.js
  postcss/cssMqPackerSort.js
  src/web-client/App.vue
  src/web-client/main.ts
  src/web-client/router/pages/HomePage.vue
  src/web-client/styles/functions/_layout.scss
  src/web-client/styles/global.scss
  src/web-client/styles/index.scss
  src/web-client/styles/variables.scss
  src/web-client/styles/variables/_all.scss
  src/web-client/styles/variables/_colors.scss
  src/web-client/styles/variables/_layout.scss
  src/web-client/styles/variables/_typography.scss
  tailwind.config.js
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

getting local running
  .lfsconfig
  .netlify/state.json
  README.md
  netlify.toml
  src/web-client/App.vue
  src/web-client/router/Page.ts
  src/web-client/router/index.ts
  src/web-client/router/pages/v2/HomePage.vue
  src/web-client/styles/variables.scss
  tailwind.config.js
Due: prettier --write, eslint --color --fix, stylelint --fix

moving things around
  .netlify/state.json
  src/web-client/App.vue
  src/web-client/AppV1.vue
  src/web-client/AppV2.vue
  src/web-client/components/v2/Name.vue
  src/web-client/components/v2/Portfolio.vue
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/v2/HomePage.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

more implementation
  src/web-client/AppV2.vue
  src/web-client/components/v2/Portfolio.vue
  src/web-client/components/v2/Sidebar.vue
  src/web-client/components/v2/SiteFooter.vue
  src/web-client/router/pages/v2/HomePage.vue
  tailwind.config.js
Due: prettier --write, eslint --color --fix, stylelint --fix

css tweaks
  src/web-client/App.vue
  src/web-client/AppV2.vue
  src/web-client/components/v2/Portfolio.vue
  src/web-client/components/v2/SiteFooter.vue
  src/web-client/router/Page.ts
  src/web-client/router/index.ts
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

making responsive
  src/web-client/AppV2.vue
  src/web-client/components/v2/SiteFooter.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing netlify build
  .lfsconfig
  .netlify/state.json
Due: none

Adding v2 pages (#146)
  README.md
  netlify.toml
  src/web-client/App.vue
  src/web-client/AppV1.vue
  src/web-client/AppV2.vue
  src/web-client/components/v2/Name.vue
  src/web-client/components/v2/Portfolio.vue
  src/web-client/components/v2/Sidebar.vue
  src/web-client/components/v2/SiteFooter.vue
  src/web-client/router/Page.ts
  src/web-client/router/index.ts
  src/web-client/router/pages/HomePage.vue
  src/web-client/router/pages/v2/HomePage.vue
  src/web-client/router/pages/v2/Information.vue
  src/web-client/styles/variables.scss
  tailwind.config.js
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing redirects
  _redirects
  netlify.toml
  package-lock.json
  vite.config.ts
Due: prettier --write, eslint --color --fix

fixing import
  .netlify/state.json
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Fixing redirects (#147)
  .netlify/state.json
  _redirects
  netlify.toml
  package-lock.json
  src/web-client/components/v2/Portfolio.vue
  vite.config.ts
Due: prettier --write, eslint --color --fix, stylelint --fix

capitialize text
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix
