Repository djmurphy32/peter-smith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --color --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --color --fix"],
  "{*.json,.!(browserslist|npm)*rc}": ["prettier --parser json --write"],
  "*.ts": ["prettier --write", "eslint --color --fix"],
  "*.vue": ["prettier --write", "eslint --color --fix", "stylelint --fix", "eslint --color --fix"],
  "*.scss": ["prettier --write", "stylelint --fix"]
}

uppercase
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Capitialize text (#148)
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

updating background colour and font
  src/web-client/assets/fonts/Nitti-Normal.ttf
  src/web-client/styles/global.scss
  src/web-client/styles/variables.scss
  tailwind.config.js
Due: prettier --write, eslint --color --fix, stylelint --fix

setting font family based on route
  src/web-client/AppV1.vue
  src/web-client/AppV2.vue
  src/web-client/styles/global.scss
  src/web-client/styles/variables.scss
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating background colour and font (#149)
  src/web-client/AppV1.vue
  src/web-client/AppV2.vue
  src/web-client/assets/fonts/Nitti-Normal.ttf
  src/web-client/styles/global.scss
  src/web-client/styles/variables.scss
  tailwind.config.js
Due: prettier --write, eslint --color --fix, stylelint --fix

npm i
  package-lock.json
Due: none

adding shaddcdn
  components.json
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier --write, eslint --color --fix

Adding carousel
  .netlify/state.json
  package-lock.json
  package.json
  src/web-client/components/button/Button.vue
  src/web-client/components/button/index.ts
  src/web-client/components/carousel/Carousel.vue
  src/web-client/components/carousel/CarouselContent.vue
  src/web-client/components/carousel/CarouselItem.vue
  src/web-client/components/carousel/CarouselNext.vue
  src/web-client/components/carousel/CarouselPrevious.vue
  src/web-client/components/carousel/index.ts
  src/web-client/components/carousel/interface.ts
  src/web-client/components/carousel/useCarousel.ts
  src/web-client/components/v2/Portfolio.vue
  src/web-client/lib/utils.ts
  src/web-client/styles/variables.scss
Due: prettier --write, eslint --color --fix, stylelint --fix

lazy loading images for carousel
  .netlify/state.json
  src/web-client/components/carousel/index.ts
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding overlays for scrolling
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding nudge animation
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding v2 Carousel (#152)
  .netlify/state.json
  components.json
  package-lock.json
  package.json
  src/web-client/components/button/Button.vue
  src/web-client/components/button/index.ts
  src/web-client/components/carousel/Carousel.vue
  src/web-client/components/carousel/CarouselContent.vue
  src/web-client/components/carousel/CarouselItem.vue
  src/web-client/components/carousel/CarouselNext.vue
  src/web-client/components/carousel/CarouselPrevious.vue
  src/web-client/components/carousel/index.ts
  src/web-client/components/carousel/interface.ts
  src/web-client/components/carousel/useCarousel.ts
  src/web-client/components/v2/Portfolio.vue
  src/web-client/lib/utils.ts
  src/web-client/styles/variables.scss
  tailwind.config.js
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding new images
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+01.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+02.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+03.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+04.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+05.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+06.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+07.jpg
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing portfolio
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding new images for V2 (#154)
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+01.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+02.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+03.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+04.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+05.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+06.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme+07.jpg
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

css tweaks
  src/web-client/AppV2.vue
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_01.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_02.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_03.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_04.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_05.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_06.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_07.jpg
  src/web-client/components/v2/Portfolio.vue
  src/web-client/components/v2/SiteFooter.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

css tweaks (#155)
  src/web-client/AppV2.vue
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_01.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_02.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_03.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_04.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_05.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_06.jpg
  src/web-client/assets/images/portfolio/AH_Magazine/PeterSmith_Arenahomme_07.jpg
  src/web-client/components/v2/Portfolio.vue
  src/web-client/components/v2/SiteFooter.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating bottom margin
  src/web-client/components/v2/SiteFooter.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating bottom margin (#156)
  src/web-client/components/v2/SiteFooter.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating text and styling on v2 info page
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

fixing linting
  src/web-client/components/button/index.ts
  src/web-client/components/carousel/CarouselContent.vue
  src/web-client/components/carousel/CarouselItem.vue
  src/web-client/components/carousel/CarouselNext.vue
  src/web-client/components/carousel/CarouselPrevious.vue
  src/web-client/components/carousel/interface.ts
  src/web-client/components/carousel/useCarousel.ts
  src/web-client/components/v2/Portfolio.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Updating text and styling on v2 info page (#157)
  src/web-client/components/button/index.ts
  src/web-client/components/carousel/CarouselContent.vue
  src/web-client/components/carousel/CarouselItem.vue
  src/web-client/components/carousel/CarouselNext.vue
  src/web-client/components/carousel/CarouselPrevious.vue
  src/web-client/components/carousel/interface.ts
  src/web-client/components/carousel/useCarousel.ts
  src/web-client/components/v2/Portfolio.vue
  src/web-client/router/pages/v2/Information.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Adding dec container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .githooks/post-checkout
  .githooks/post-commit
  .githooks/post-merge
  .githooks/pre-push
  .netlify/state.json
  README.md
Due: none

adding dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .githooks/post-checkout
  .githooks/post-commit
  .githooks/post-merge
  .githooks/pre-push
Due: none

updated attributes
  .gitattributes
Due: none

deleting netlify state file
  .netlify/state.json
Due: none

deleting netlify state file (#159)
  .netlify/state.json
Due: none

Removing git lfs
  .devcontainer/devcontainer.json
  .gitattributes
  .githooks/post-checkout
  .githooks/post-commit
  .githooks/post-merge
  .githooks/pre-push
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

Adding dev container (#160)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitattributes
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

updating readme
  README.md
Due: none

updating readme (#161)
  README.md
Due: none

Adding zsh to dev container
  .devcontainer/devcontainer.json
Due: none

Adding dev cotnainers and github actions to dependabot
  .github/dependabot.yml
Due: none

adding extensions to dev container
  .devcontainer/devcontainer.json
Due: none

first pass
  src/web-client/AppV2.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

more tweaks
  src/web-client/AppV2.vue
  src/web-client/components/v2/Sidebar.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

last css changes
  src/web-client/AppV2.vue
  src/web-client/components/v2/Sidebar.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

Changing sidebar to be fixed in center of users viewport (#175)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  src/web-client/AppV2.vue
  src/web-client/components/v2/Sidebar.vue
Due: prettier --write, eslint --color --fix, stylelint --fix

adding directory for devcontainers
  .github/dependabot.yml
Due: none
